* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
body{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgba(0, 0, 0, 0.904);
}
a {
    text-decoration: none;
}
.head{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 0px 90px;
}
.logo{
    font-size: 30px;
    color: white;
    font-weight: bolder;
    position: relative;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(24, 24, 24);
    animation: showRight 1s ease forwards;
    animation-delay: 0.5s;
}
.head nav{
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    column-gap: 30px;
}
.head nav::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(24, 24, 24);
    animation: showRight 1s ease forwards;
    animation-delay: 0.8s;
}
.head nav a{
    color: lightblue;
    font-weight: bold;
}
.head nav a:hover,
.head nav a.active{
    color: aqua;
}

.home-content{
    margin: 80px 0px 0px 100px;
    width: 600px;
    color: lightblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
}
.home-content h1{
    color: aqua;
    position: relative;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(24, 24, 24);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 17px;
}
.home-content h3,
.home-content p{
    position: relative;
}
.home-content h3::before,
.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(24, 24, 24);
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}
.socialmedia{
    position: absolute;
    height: 40px;
    bottom: 50px;
    left: 130px;
    display: flex;
    gap: 20px;
}
.socialmedia::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(24, 24, 24);
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
}
.socialmedia a{
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: inline-flex;
    color: lightblue;
    border: 2px solid lightblue;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.socialmedia a:hover{
    background-color: lightblue;
    color: rgba(0, 0, 0, 0.904);
    transition: 1s;
}
.photo{
    position: absolute;
    top: 150px;
    right: 250px;
    border-radius: 50%;
}
.photo img{
    height: 250px;
    border-radius: 50%;
    border: 2px solid lightblue;
    background-color:lightblue;
}
.img {
    box-shadow: inset 0px 0px 50px rgba(24, 24, 24, 10);
}
.photo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(24, 24, 24);
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 100;
}
.photo img:hover{
    box-shadow: 0 0 20px lightblue;
    opacity: 0.8;
}
@keyframes showRight {
    100%{
        width: 0;
    }
}

@media (max-width:1200px) {
    .photo{
        position: absolute;
        top: 150px;
        right: 200px;
        border-radius: 50%;
    }
}
@media (max-width:1125px) {
    .photo{
        position: absolute;
        top: 150px;
        right: 150px;
        border-radius: 50%;
    }
}
@media (max-width:1075px) {
    .photo{
        position: absolute;
        top: 150px;
        right: 125px;
        border-radius: 50%;
    }
}
@media (max-width:1024px) {
    .photo{
        position: absolute;
        top: 150px;
        right: 80px;
        border-radius: 50%;
    }
}
@media (max-width:912px) {
    .photo{
        position: absolute;
        top: 450px;
        right: 40%;
        border-radius: 50%;
    }
    .socialmedia{
        position: absolute;
        height: 40px;
        bottom: -150px;
        left: 130px;
        display: flex;
        gap: 20px;
    }
}
@media (max-width:540px) {
    .photo{
        position: absolute;
        top: 400px;
        right: 0px;
        border-radius: 50%;
    }
}
@media (max-width:430px) {
    .photo{
        position: absolute;
        top: 450px;
        right: 0px;
        border-radius: 50%;
    }
    .head nav {
        display: grid;
        font-size: 20px;
        grid-template-columns: 1fr  1fr 1fr 1fr;
        column-gap: 30px;
        margin-left: 100px;
    }
}
@media (max-width:375px) {
    .photo{
        position: absolute;
        top: 450px;
        right: 0px;
        border-radius: 50%;
    }
    .head nav {
        display: grid;
        font-size: 20px;
        grid-template-columns: 1fr  1fr 1fr 1fr;
        column-gap: 30px;
        margin-left: 100px;
    }
    .socialmedia{
        position: absolute;
        height: 40px;
        bottom: -150px;
        left: 130px;
        display: flex;
        gap: 20px;
    }
}